**Import Libraries**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Load Dataset**

In [9]:
df = pd.read_csv('../Data/Raw/Heart_Disease_Prediction.csv')

In [10]:
df.head()

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

**Rows and Columns**

In [11]:
rows, columns = df.shape
print(f'Number of rows: {rows}')
print(f'Number of columns: {columns}')

Number of rows: 270
Number of columns: 14

## What is the target?

In [12]:
df['Heart Disease'].value_counts()

Heart Disease
Absence     150
Presence    120
Name: count, dtype: int64

The target column **Heart Disease** have 2 classes:

1. **Absence**: Indicates the absence of Heart Disease
2. **Presence**: Indicated the presence of Heart Disease

## Data Types

In [13]:
df.dtypes

Age                          int64
Sex                          int64
Chest pain type              int64
BP                           int64
Cholesterol                  int64
FBS over 120                 int64
EKG results                  int64
Max HR                       int64
Exercise angina              int64
ST depression              float64
Slope of ST                  int64
Number of vessels fluro      int64
Thallium                     int64
Heart Disease               object
dtype: object

In [25]:
numerical_cols = [col for col in df.columns if df[col].dtype == 'int64' or df[col].dtype == 'float64']
categorical_cols = [col for col in df.columns if df[col].dtype == 'object']

The Numerical features are as follows:

In [26]:
numerical_cols

['Age',
 'Sex',
 'Chest pain type',
 'BP',
 'Cholesterol',
 'FBS over 120',
 'EKG results',
 'Max HR',
 'Exercise angina',
 'ST depression',
 'Slope of ST',
 'Number of vessels fluro',
 'Thallium']

The categorical features are as follows:

In [27]:
categorical_cols

['Heart Disease']

Although many features are stored as integers, several of them represent categorical variables that have been numerically encoded (e.g., Sex, Chest pain type, Exercise angina). This will be handled appropriately during preprocessing.

## Missing Values

In [29]:
df.isnull().sum()

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart Disease              0
dtype: int64

This shows that there are **no** missing values in the dataset.